@import "../../node_modules/normalize.css/normalize.css";
@import "./variables.css";


html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* lost-utility: edit; */
}

* {
  box-sizing: border-box;
}


ul {
  padding: 0;
  margin: 0;
}

a {
  color: var(--link-color);
}
