@custom-media --media-mobile (max-width: 767px);
@custom-media --media-tablet (min-width: 768px);
@custom-media --media-desktop (min-width: 922px);
@custom-media --media-desktop-menu (min-width: 1000px);
@custom-media --media-hd (min-width: 1440px);
@lost gutter 40px;

:root {
  --gutter: 20px;
  --primary-color: #f80015;
  --secondary-color: #3b18f1;
  --white: #ffffff;
  --black: #222222;
  --grey: rgba(0, 0, 0, 0.541);
  --color-error: #f80015;
}
