@import 'global/variables.css';

.accordion {
  display: none;
}

.accordion-toggle {
  transition: transform 0.3s;
}

.accordion-toggle-up {
  composes: accordion-toggle;
  transform: rotate(180deg);
}

.list {
  list-style: none;
  padding: calc(var(--gutter) / 2);
}

.list-item {
  display: flex;
  justify-content: space-between;

  span:first-child {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.list-item-red {
  composes: list-item;
  color: var(--primary-color);
}