@import 'global/variables.css';

.comments {
  list-style: none;

  li {
    margin-bottom: calc(var(--gutter) * 2);
  }
}


.comment-header {
  display: flex;
  color: var(--grey);
  border-bottom: 1px solid var(--lightgrey);
  font-size: 12px;
  margin-bottom: 5px;
}

.comment-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1 1 auto;
}

.comment-date {
  color: var(--grey);
  margin-left: 5px;
  flex: 0 0 auto;
  align-self: flex-end;
}

.quote {
  margin: 0;
  span {
    color: var(--primary-color);
    font-size: 24px;
  }
}


.input-focus {
  opacity: 1;
}

.input-blur {
  opacity: 0;
}