@import 'global/global.css';
@import 'global/variables.css';

:root {
  --bottom: 30px;
  --left: 30px;
  --size: 60px;
}

.is-logged-in {

}

.nav-container {
  position: fixed;
  z-index: 1;
}

.floating {
  background-color: var(--primary-color);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  position: fixed;
  bottom: var(--bottom);
  left: var(--left);
  z-index: 10;
  transition: box-shadow 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}

.floating-open {
  composes: floating;
  box-shadow: none;
}

.nav-icon {
  background-color: var(--white);
  width: 28px;
  height: 2px;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s;

  &::before,
  &::after {
    content: " ";
    background-color: var(--white);
    width: 28px;
    height: 2px;
    display: block;
    position: relative;
    transform-origin: 50% 50%;
    transition: transform 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  }

  &::before {
    transform: translateY(-400%);
  }

  &::after {
    transform: translateY(300%);
  }
}

.nav-icon-open {
  composes: nav-icon;
  background-color: transparent;

  &::before {
    transform: translateY(50%) rotate(45deg);
  }

  &::after {
    transform: translateY(-50%) rotate(-45deg);
  }
}

.nav-layer {
  position: fixed;
  background-color: var(--primary-color);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  bottom: var(--bottom);
  left: var(--left);
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}

.nav-wrapper {
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  padding: 40px 20px 20px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.brand {
  color: var(--white);
}

.logo {
  fill: currentcolor;
}

.nav-link {
  display: block;
  color: var(--white);
  text-decoration: none;
}


.nav-text {
  @media (orientation: landscape) {
    font-size: 7vw !important;
  }
}

