@import 'global/variables.css';

.list {
  list-style: none;
}


.single-activity {
  margin-bottom: var(--gutter);
}

.info {
  display: flex;
  font-size: 16px;
  align-items: center;
}

.sub-info {
  composes: info;
  color: rgba(0, 0, 0, 0.541176);
  font-size: 14px;
}

.info-icon {
  flex: 0 0 auto;
  width: 22px;
  margin-right: 10px;
}

.actions {
  composes: info;
  margin-top: 10px;
}

.status {
  flex: 1 1 auto;
}

.details {
  flex: 0 1 auto;
}

.status-active {
  composes: info-icon;
  color: var(--secondary-color);
}

.status-inactive {
  composes: info-icon;
  color: var(--primary-color);
}

.info-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex: 1 1 auto;
  width: 100%;
}

