@import 'global/variables.css';

.forecast {
  width: 100px;
}

.card {
  margin-bottom: var(--gutter);
}


.actions {
  display: flex;
  margin-bottom: var(--gutter);
  /* justify-content: space-around; */
  > span {
    flex: 1 0 auto;
  }
}