@import 'global/variables.css';

.wrap {
  display: flex;
  color: rgba(0, 0, 0, 0.541176);
  font-size: 14px;

}


.info-text {
  margin-left: 10px;

  span {
    margin-left: 10px;
  }

  p {
    margin: 0;
    display: flex;
  }
}

.fetching-space {
  width: 67px;
}

.actions {
  composes: wrap;
  margin-top: 20px;
}

.status {
  flex: 1 1 auto;
}

.details {
  flex: 0 1 auto;
}